# Librerías para notebook
ipykernel
ipython
jupyter_client
jupyter_core

# Librerías para análisis y procesamiento de datos
pandas
numpy
scipy
collections
# Librerías para procesamiento de lenguaje natural
nltk

# Librerías para visualización
matplotlib
seaborn
plotly
missingno
wordcloud

# Librerías para machine learning y estadísticas
scikit-learn
category_encoders
